services:
  apache_php:
    build: .
    restart: unless-stopped
    ports:
      - 127.0.0.1:8080:80
    volumes:
      - .:/var/www/html

  mysql:
    image: mysql:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
