openapi: 3.0.0
info:
  title: DamSecure IoT Portal API
  version: '1.0.0'
  description: Connect your project to the Internet with ease
  license:
    name: AGPL 3.0
    url: 'https://www.gnu.org/licenses/agpl-3.0.txt'

servers:
  - url: https://eecs.engineering.oregonstate.edu/education/damsecure/public
    description: College of Engineering hosted
  - url: http://127.0.0.1:8080/public
    description: Locally hosted

paths:
  /api/data:
    get:
      summary: View all records for a project
      tags: [Data]
      responses:
        '200':
          description: Request succeeded; records returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenForDownload'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Upload a new record for a project
      tags: [Data]
      requestBody:
        $ref: '#/components/requestBodies/Data'
      responses:
        '201':
          description: Record successfully uploaded
          content:
            application/json:
              schema:
                type: integer
                description: The record's ID; needed for updating or deleting
              example: 59
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenForUpload'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/data/{id}:
    put:
      summary: Update a record
      tags: [Data]
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the record to update
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/Data'
      responses:
        '200':
          description: User updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenForUpload'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a record
      tags: [Data]
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the record to delete
          schema:
            type: integer
      responses:
        '200':
          description: User updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenForUpload'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  requestBodies:
    Data:
      content:
        application/json:
          schema:
            type: string
          example:
            user: John Doe
            temperature: 68
        text/csv:
          schema:
            type: string
          example: John Doe,68
        text/plain:
          schema:
            type: string
          example: Just a big blob of text with no particular structure | John Doe | 68
      required: true
  responses:
    BadRequest:
      description: |
        The request body is malformed. This typically means you provided a 
        `Content-Type: application/json` header but your request body is not valid JSON.
        Did you specify the wrong `Content-Type`?
    Unauthorized:
      description: |
        API token not found or invalid. Don't forget an `Authorization: Bearer {token}`
        header with your project's token replacing `{token}` (including the brackets). If
        you don't remember what your token is, you can rotate it to generate a new one and
        be shown it (API tokens aren't stored in plain text, so current tokens' values
        cannot be retrieved). If you recently rotated your token, make sure you're using
        the new one in your request.
    ForbiddenForDownload:
      description: |
        The given API token isn't intended to be used for this request or belongs to a
        different project than the specified record. Are you using your project's download
        token?
    ForbiddenForUpload:
      description: |
        The given API token isn't intended to be used for this request or belongs to a
        different project than the specified record. Are you using your project's upload
        token?
    InternalServerError:
      description: |
        Something went wrong on the DamSecure IoT Portal server. This isn't your fault;
        please report it to us so we can fix it!
  schemas:
    Data:
      type: object
      properties:
        id:
          type: integer
          description: The ID for updating or deleting the record
          example: 492
        data:
          type: string
          description: The raw value uploaded to DamSecure
          example: '{"user": "John Doe", "temperature": 68}'
        created_at:
          type: string
          format: date-time
          description: The UTC timestamp for when the record was first uploaded
          example: 2025-12-11T06:21:53.000000Z
        updated_at:
          type: string
          format: date-time
          description: The UTC timestamp for when the record was last updated
          example: 2025-12-13T07:37:38.000000Z
        type:
          type: string
          enum:
            - json
            - csv
            - unknown
          description: What data type the record is supposed to be
          example: json

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: 
